@font-face {
  font-family: 'NanumSquareNeo';
  /* src: url('./fonts/NanumSquareNeo-aLt.ttf'); */
  src: url('../public/fonts/NanumSquareNeo-aLt.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('../public/fonts/NanumSquareNeo-bRg.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('../public/fonts/NanumSquareNeo-cBd.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('../public/fonts/NanumSquareNeo-dEb.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url('../public/fonts/NanumSquareNeo-eHv.ttf');
  font-weight: 900;
}


body {
  margin: 0;
  font-family: 'NanumSquareNeo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* make icon/text non-draggable */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge*/
  user-select: none;
}
